<%- include('header'); -%>
    <div class='content'>
        <h1>Sorry, your Login Failed!</h1>

        <h2>Make sure you entered the correct username and password to proceed.</h2>
        <h3>Back to <a href="../login">Sign-In Page</a></h3>
    </div>
<%- include('footer'); -%>